page-location {
    .fullCard {
        width:100%;
        border-radius: 0;
    }
    .border-bottom-grey:not(:last-child){
        border-bottom: lightgrey 0.5px solid;
    }
    .item-inner{
        border-bottom: none !important;
    }
}

ion-select{ max-width: 100% !important; }

.item { font-size: 1.2rem; }
