page-personal-details {
    img {
        // border-radius: 50%;
        // width: 50%;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .fullCard {
        width:100%;
        border-radius: 0;
    }
}
