<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-start></ion-icon>
      {{item.title}}
      <div class="item-note" item-end>
        {{item.note}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
<ion-footer no-padding>
    <!-- <sup>POWERED BY MEDAS SOLUTIONS</sup> -->
    <ion-grid no-padding>
        <ion-row no-padding>
            <ion-col no-padding>
              <img src="http://www.amberclinics.com/uploads/divisionlogo/amber-logo.png" style="width: 100%;object-fit: contain;padding-top:10px;"/>
            </ion-col>
            <ion-col no-padding>
              <img src="http://www.amberclinics.com/uploads/divisionlogo/alnoor-polyclinic-logo.png" style="width: 100%;object-fit: contain;" padding-vertical/>
            </ion-col>
            <ion-col no-padding>
              <img src="http://www.amberclinics.com/uploads/divisionlogo/dr-joseph-logo.png" style="width: 100%;object-fit: contain;" padding-vertical/>
            </ion-col>
        </ion-row>
      </ion-grid>
  </ion-footer>
