page-labresult {
    .fullCard {
        width:100%;
        border-radius: 0;
    }

    // .segment-button{
    //     color:white !important;
    // }

    // .segment-button.segment-activated{
    //     border-color: white !important;
    // }

    .abnormal{
        color: red;
    }

    .normal{
        color: green;
    }

    .border-left-red{
        border-left: red 1px solid;
    }

    .border-bottom-grey:not(:last-child){
        border-bottom: lightgrey 0.5px solid;
    }

    .item-inner{
        border-bottom: none !important;
    }

    .thick-border-bottom-grey{
        border-bottom: lightgrey 2px solid;
    }
}
