page-home {
    .content{
        background-image: linear-gradient(white, rgb(253, 253, 253)); 
        // background: url('../../assets/imgs/background.jpg') no-repeat center;
        background-size: cover;
        // background-color: color($colors, "light");
    }
    .icon-padding-top{
        font-size:3.5em;
    }

    .toolbar-background-md, .toolbar-background-ios{
        background: transparent !important;
    }
    // .col-left-border{
    //     border-left:white 0.5px solid;
        
    // }

    .bg-primary{
        background-color: rgb(56, 162, 220);
        color: white
    }

    .bg-secondary{
        background-color: color($colors, "secondary");
        color: white
    }

    .bg-facebook{
        background-color: rgba(59, 89, 153, 0.8);
        color: white;
    }

    .bg-twitter{
        background-color: rgba(29, 161, 242, 0.8);
        color: white;
    }

    .bg-snapchat{
        background-color: rgba(255, 252, 0, 0.8);
        color: grey;
    }

    .bg-instagram{
        background-color: rgba(138, 58, 185, 0.8);
        color: white;
    }

    

    // .row-bottom{
    //     padding-bottom:1px;
    //     border-bottom:white 0.9px solid;
    // }
    // .vertical-align-content > *
    // {
    //     height: 100%;
    // }

    ion-footer{
        color: color($colors, "primary")
    }

    .scroll-content{
        padding: 0px !important;
    }

    .top-left-border{
        border: 0px solid transparent;
        border-top-left-radius: 10px;
    }
    
    .bottom-left-border{
        border: 0px solid transparent;
        border-bottom-left-radius: 10px;
    }
    .top-right-border{
        border: 0px solid transparent;
        border-top-right-radius: 10px;
    }

    .bottom-right-border{
        border: 0px solid transparent;
        border-bottom-right-radius: 10px;
    }
}
