<ion-content>
    <ion-navbar color="lightblue"></ion-navbar>
    <ion-card color="lightblue" class="fullCard" no-margin text-center>
      <ion-icon 
        name="ios-paper" 
        style="color:white;font-size: 7rem;">
      </ion-icon>
      <ion-card-header text-center style="font-size:2rem;">
          VISIT SUMMARY
      </ion-card-header>
      <ion-segment [(ngModel)]="workbench">
          <ion-segment-button value="casesheet">
            Case sheet
          </ion-segment-button>
          <ion-segment-button value="vitals">
            Vitals
          </ion-segment-button>
          <ion-segment-button value="lab">
            Lab / Radiology
          </ion-segment-button>
        </ion-segment>
    </ion-card>
    <ion-scroll scrollY="true"  id="scroll">
        <!-- consult summary  -->
        <ion-list text-wrap *ngIf="workbench == 'casesheet'">
          <ion-list-header>
            Consultation Details
          </ion-list-header >
          <ion-item text-capitalize>{{doctor_name}}</ion-item>
          <ion-list-header text-capitalize>Chief Complaint/HPI</ion-list-header>
          <ion-item text-capitalize>{{consultsummary.present_complaint}}</ion-item>
          <ion-list-header text-capitalize>Final Diagnosis</ion-list-header>
          <ion-item text-capitalize>{{consultsummary.icd_desc}}</ion-item>  
        </ion-list>
         <!-- vitals  -->
         <div *ngIf="workbench == 'vitals'">
            <ion-list>
              <ion-item 
                *ngFor="let parameter of vitalsigns" 
                text-uppercase 
                class="border-bottom-grey"
                [ngClass] = "{'border-left-red': parameter.abnormal}">
                  <h3>{{parameter.vital_sign}}</h3>
                  <p><small>range: {{parameter.min_value}} - {{parameter.max_value}} unit: {{parameter.unit}}</small></p>
                  <ion-note 
                    item-end
                    [ngClass] = "{ 
                        'abnormal' : parameter.abnormal,
                        'normal' : !parameter.abnormal
                      }"
                    style="font-size:1.5rem;">
                    {{parameter.value}} 
                  </ion-note>
                  
              </ion-item>
            </ion-list>
         </div>
         <!-- labs -->
         <div *ngIf="workbench == 'lab'">
            <ion-list>
                <ion-item 
                  *ngFor="let result of labresult" 
                  text-uppercase 
                  class="border-bottom-grey"
                  [ngClass] = "{'border-left-red': result.abnormal}">
                    <h3>{{result.parameter_name}}</h3>
                    <p><small>range: {{result.fnormal_Value}} unit: {{result.measure}}</small></p>
                    <ion-note item-end 
                      [ngClass] = 
                        "{ 
                          'abnormal': result.abnormal, 
                          'normal': !result.abnormal 
                        }" 
                      style="font-size:1.5rem;">
                      {{result.test_result}} 
                    </ion-note>
                </ion-item>
                <ion-item-divider [hidden]="!radiologyresult.length" color="light">Radiology Results</ion-item-divider>
                <ion-item 
                  *ngFor="let result of radiologyresult" 
                  text-uppercase >
                  <p>{{result.test_details}}</p>
                </ion-item>
            </ion-list>
         </div>
       
    </ion-scroll>
    
   
  </ion-content>

  