page-events {
    .fullCard {
        width:100%;
        border-radius: 0;
    }
    .item-inner{
        border-bottom: none !important;
    }
    .content{
        background-color: lightgray;
    }
}
